body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

header {
	background-color: #fbfbfb;

}

div {
	box-sizing: border-box;
}

nav {
	float: right;
	margin-top: 50px;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

.heading {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 100px;
}

.container {
	width: 930px;
	margin: 0 auto;
}


.menu {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.menu1 {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}


.menu  a {
 	text-decoration: none;
	color: #25252a;
}

.menu  a:hover{
	color: #fc6488;
	text-decoration: underline;

}

.menu1  a {
 	text-decoration: none;
 	color: #25252a;
}

#nomer-header{
	font-size: 19px;
	font-weight: bold;
	border-radius: 5px	
}

.order-call1{
	background: #fbfbfb;
	width: 200px;
	height: 30px;
	font-size: 15px;
	color:#f5515f;
	border-color: #f5515f;	
}

.titles{
	display: grid;
	grid-template-columns: 50% 50%;

}
.titles_first{
	color: black;
	text-transform: uppercase;
	text-align: left;
	margin-top: 180px;
}

.titles_second{
	color: black;
	text-transform: uppercase;
	text-align: left;
}

.button-info{
	background: #ff4e2e;
	margin-top: 50px;
	width: 200px;
	height: 50px;
	font-size: 15px;
	border:none;
	color:white;
}

.picture-icons{
	text-align: center;
}

.what-i-do{
	font-size: 40px;
}
.icons{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(100px, auto)
}

.button-cost{
	background: #ff4e2e;
	margin-top: 50px;
	width: 200px;
	height: 50px;
	font-size: 15px;
	border:none;
	color:white;
}

.example-work{
	margin-top: 50px;
	padding: 50px; 
	font-size: 40px;
}


.picture0{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(100px, auto);
	width: 1200px;
	margin-left: 380px;
}


.picture{
	background: #fbfbfb;
	text-align: center;
}


.button-order{
	background: #ff4e2e;
	margin-top: 50px;
	width: 200px;
	height: 50px;
	font-size: 15px;
	border:none;
	color:white;
	margin-bottom: 50px;
}

.section-3{
	margin-top: -20px;

}
.map-site{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(100px, auto);

}

.navigation{
	list-style-type: none;
	line-height: 2;
	margin-left: 100px;
	color: grey;
	margin-top: 60px;
}

.contact{
	display: grid;	
	grid-template-columns: 60px 220px;		
	grid-template-rows: 50px 50px;
	grid-column-gap: 15px;
	margin-top: 60px;
}

.contact img {
	margin-top: 15px;
	margin-left: 40px;
}


.navigation1 {
	display: grid;
}

.navigation2 {
	display: grid;
	grid-template-columns: 50px 50px 50px 50px;
	grid-column-gap: 0px;
	margin-top: 5px;
}

.order-call{
	background: #fff;
	margin-top: 60px;
	width: 200px;
	height: 50px;
	font-size: 15px;
	color:#ff4e2e;
	border: none;
	
}

.title-text0{
	background: #ff4e2e;
	color: white;
	height: 200px;

}

.title-text1{
	margin-left: 550px;
	padding-top: 20px;
}


.h1{
	margin-top: 50px;
}

footer{
	background: #31293c;
	height: 60px;
}

.footer-text{
	text-align: center;
	padding: 20px;
	font-size: 10px;
	color: white;
}








/*Адаптивная версия*/

@media screen and (max-width: 2560px) {
	.picture0 {
		margin-left: 26%;
	}
	.title-text1{
		margin-left: 50px;
		padding-top: 5px;
		text-align: center;
	}
	.map-site{
		margin-left: 8%;
	}
}

@media screen and (max-width: 1440px) {
	.picture0 {
		margin-left: 8%;	
	}

}

@media screen and (max-width: 1024px) {
	.picture0 {
		display: inline;
		text-align: center;
	}
	.title-text1{
		margin-left: 50px;
		padding-top: 5px;
		text-align: center;
	}
}

@media only screen and (max-width: 425px) {
	.menu a{
		font-size: 55px;	
	}

	.icons{
		background: red;
	}
}

@media screen and (max-width: 375px) {
	.icons{
		background: red;
	}
}

@media screen and (max-width: 320px) {
	.menu{
		background: red;
	}
}